*.pyc
*.log
node_modules
coverage/
arches_bng/logs
arches_bng/export_deliverables
arches_bng/cantaloupe/*
arches_bng/staticfiles
arches_bng/media/packages
arches_bng/media/build/
arches_bng/uploadedfiles/*
arches_bng/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
dist
